.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 380px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
 

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  h2 { margin-top: 0;
   color: #7B3F00; }

  .cart-item, .booking-item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    h3 {
      padding-bottom:px;
      
    }
    p{
      padding-bottom:15px;
     
    }

    .booking-item {
      color: black;
    }

    input { width: 100%; margin: 5px 0;    padding: 8px 8px; }
    label{
      color: #A0522D;
    }

    button {
      margin-top: 5px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      background-color: #A0522D;
      color: white;
      padding: 5px 8px;
    }

    button:nth-child(2) { background-color: #A0522D; }
  }

  .cart-message {
    background-color: #27ae60;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
  }
}