.tour-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;

  .tour-image-container {
    position: relative;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .tour-title {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-style: italic;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .tour-details {
    padding: 10px;

    .tour-location {
      font-weight: 700;
      color: #B87333;
      text-align: center;
      padding-bottom:15px
    }
    .tour-description{
      color:#C19A6B;
      text-align: center;
      padding-bottom:20px

    }
    
    

    .tour-meta {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }

    .book-btn {
      width: 100%;
      padding: 8px;
      background-color: #B87333;
      color: white;
      border: none;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  .tour-fee {
    font-weight:700;
  }
}