@use './variables' as *; 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
  background-color: $secondary-color;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: $spacing;
}