@use "../../styles/variables" as *;

.footer {
  height: $footer-height;
  background-color: $primary-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing;
}